@tailwind base;
@tailwind components;
@tailwind utilities;

/* This makes the element draggable. */
.titlebar-drag-region {
  -webkit-app-region: drag;
}

/* This makes the element clickable, even if it's inside a draggable region. */
.titlebar-no-drag {
  -webkit-app-region: no-drag;
}